@use 'variable' as v;
@use 'mixins' as m;
@use 'breakpoints' as b;

.event-top {
    @include m.top-style();

    h2 {
        @include m.top-h2();
    }
}

//main-events

.main-events {
    background: v.$sub-w;
    height: auto;
    width: 100%;
    padding: 150px 4%;

    
}