@use 'variable' as v;

.event-top {
    margin-top: 30px;
    padding: 150px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(2 , 2, 2, 0.7), rgba(2 , 2, 2, 0.6)) ,url('../../assets/images/backimage.jpg');
    background-size: cover;
    background-origin: initial;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h2 {
        font-size: 3rem;
        font-family: v.$Roboto-Black;
    }
}