@use 'variable' as v;
@use 'breakpoints' as b;

//buttons styles

@mixin button() {
    padding: 15px 20px;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    background: linear-gradient(to right, v.$oranged 90%, v.$red);
    color: v.$black;
    font-size: clamp(0.889rem, 0.814rem + 0.377vw, 1.2rem);
    transition: .300s ease-in;
}
//button hover
@mixin button-hover() {
    background: linear-gradient(to right, v.$oranged-hover 90%, v.$red-hover);
    color: v.$white;
}


//top styles

@mixin top-style() {
    margin-top: 30px;
    padding: 150px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(2 , 2, 2, 0.7), rgba(2 , 2, 2, 0.6)) ,url('../../assets/images/backimage.jpg');
    background-size: cover;
    background-origin: initial;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @include b.breakPoint('600px') {
        padding: 105px 10px;
    }
}

//top style h2
@mixin top-h2() {
    font-size: clamp(2rem, 1.758rem + 1.212vw, 3rem);
    font-family: v.$Roboto-Black;
}


//input

@mixin input() {
    color: v.$white;
    background: #1e1b1b;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    margin: 22px 10px;
    width: 80%;
    padding: 12px 11px;
    border-radius: 5px;
    text-align: center;
    transition: .400s ease-in-out
}
